.buttonhome {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the button horizontally */
  position: relative;
  padding: 0.5em 1.5em;
  border: rgb(134, 10, 10) solid 0.15em;
  border-radius: 0.25em;
  color: rgb(12, 223, 255);
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 500ms, color 500ms, background 500ms;
  user-select: none;
  margin-top: -0.5em; /* Adjusted margin to move the button higher */
}

.buttonhome p {
  z-index: 1;
}

.buttonhome:hover {
  color: #212121;
  transition: color 800ms;
}

.buttonhome:active {
  border-color: rgb(240, 38, 173);
  transition: border-color 800ms;
}

.buttonhome::after,
.buttonhome::before {
  content: "";
  position: absolute;
  width: 5em;
  aspect-ratio: 1;
  background: rgb(250, 129, 0);
  opacity: 50%;
  border-radius: 50%;
  transition: transform 1000ms, background 500ms;
}

.buttonhome::before {
  left: 0;
  transform: translateX(-4em);
}

.buttonhome::after {
  right: 0;
  transform: translateX(4em);
}

.buttonhome:hover:before {
  transform: translateX(-0.5em);
  transition: transform 800ms;
}

.buttonhome:hover:after {
  transform: translateX(0.5em);
  transition: transform 800ms;
}

.buttonhome:active:before,
.buttonhome:active:after {
  background: rgb(8, 14, 194);
  transition: background 800ms;
}

@media screen and (max-width: 768px) {
  .buttonhome {
    padding: 0.4em 1.2em;
    font-size: 1em;
  }

  .buttonhome::after,
  .buttonhome::before {
    width: 4em;
  }

  .buttonhome::before {
    transform: translateX(-3em);
  }

  .buttonhome::after {
    transform: translateX(3em);
  }

  .buttonhome:hover:before {
    transform: translateX(-0.3em);
  }

  .buttonhome:hover:after {
    transform: translateX(0.3em);
  }
}
