.button {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: rgb(134, 10, 10) solid 0.15em;
  border-radius: 0.25em;
  color: rgb(12, 223, 255);
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.button p {
  z-index: 1;
}

.button:hover {
  color: #a12424;
}

.button:active {
  border-color: rgb(240, 38, 173);
}

.button::after,
.button::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: rgb(250, 129, 0);
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.button::before {
  left: 0;
  transform: translateX(-8em);
}

.button::after {
  right: 0;
  transform: translateX(8em);
}

.button:hover:before {
  transform: translateX(-1em);
}

.button:hover:after {
  transform: translateX(1em);
}

.button:active:before,
.button:active:after {
  background: rgb(8, 14, 194);
}
@media screen and (max-width: 320px) {
  .button {
    padding: 0.1px 30px;
    font-size: 1em;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .button {
    padding: 0.1px 30px;
    font-size: 1em;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .button {
    padding: 0.1px 30px;
    font-size: 1em;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .button {
    padding: 0.1px 30px;
    font-size: 1em;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .button {
    padding: 0.1px 30px;
    font-size: 1em;
  }
}
