:root {
  --CardSize: 300px;
}

.my-Card-section {
  background-color: #000000;
  padding: 10px;
}
.my-Card-section, .card-size > h1 {
    text-align: center;
}
.card-size {
  background-color: rgb(25,25,25);
  padding: 20px;
  border-radius: 30px;
}
.my-Card-section > h1 {
  color: aliceblue;
    font-size: 50px;
}
.my-Card-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--CardSize), 0em));
  gap: 4em;
  padding-bottom: 50px;
}
.card-size > img {
  width: var(--CardSize);
  border-radius: 30px;

}
.card-size {
  border: 1px solid white;
  width: var(--CardSize);
}
.card-body > h3 {
    text-align: left;
}
.card-body {
  color: #ffffff;
}
.time-venus {
    display: grid;
    grid-row: auto;
    font-size: 1px;
    grid-template-columns: auto auto;
}
.time-venus > div {
grid-template-columns: auto auto;
}
.card-contact {
    padding-top: 5px;
    display: grid;
    grid-template-columns: auto auto;
}
.card-contact-top {
  border-top: 1px solid white;
}
.card-contact-left {
    border-right: 1px solid white;
}
.card-text > li {
  text-align: left;
}
.card-text {
  padding-top: 20px;
}

@media screen and (max-width: 320px) {
  .my-Card-div {
    grid-template-columns: auto;
  }
  :root {
    --CardSize: 260px
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .my-Card-div {
    grid-template-columns: auto;
  }
  :root {
    --CardSize: 311px
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .my-Card-div {
    grid-template-columns: auto;
  }
  :root {
    --CardSize: 340px
  }
}