<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card</title>
  <link rel="stylesheet" href="Card.css">
</head>

<body class="card1">
  <!-- <figure class="card"> -->


    <div class="card darth">
      <div class="face front">
        <img class="logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/261096/Star_Wars_Logo.svg" />
        <h2><small>Darth</small><br />Vader</h2>
        <cite>

        </cite>
      </div>
      <div class="face back">
        <img src="http://img.lum.dolimg.com/v1/images/Darth-Vader_6bda9114.jpeg?region=0%2C23%2C1400%2C785&width=768"
          alt="Image of Darth Vader" />
        <div class="description">Once a heroic Jedi Knight, <b>Darth Vader</b> was seduced by the dark side of the
          Force, became a Sith Lord, and led the Empire’s eradication of the Jedi Order. He remained in service of the
          Emperor -- the evil Darth Sidious -- for decades, enforcing
          his Master’s will and seeking to crush the fledgling Rebel Alliance. But there was still good in him…</div>
        <img class="logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/261096/Star_Wars_Logo.svg" />
      </div>
    </div>
  <!-- </figure> -->

  </figure>
  <script src="card.js"></script>
</body>

</html>