.aboutUsMainDiv {
    background-color: orange;
    width: 100%;
    text-align: center;
}
.aboutUsMainDiv > h2{
    top: 50%;
    justify-content: center;
}
.aboutUsMainDiv > div {
    padding: 50px;
    padding-bottom: 10px;    
    text-align: center;
    height: fit-content;
}
.wrap {
    display: grid;
    grid-template-columns: auto auto;

}
.mt-10 {
    margin-top: 10px;
}