body {
    position: relative;
    margin: 0px;
    background-color: rgb(107, 107, 107);
    overflow:scroll;
}
* {
    position: relative;
}

section {
    position: relative;
    height: max-content;
}
