<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Registration</title>
    <link rel="stylesheet" href="./Group.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
  </head>
  
<body>
  <video autoplay muted loop id="video-bg">
    <source src="./FormVideo2.mp4" type="video/mp4">
    Error
  </video>111
  <h2 class="main-title">GROUP REGISTRATION</h2>
  <div class="container">

    <div class="box">
      <h3 class="eventHeadings">TECHNICAL EVENTS</h3>

      <div class="question">
        <input type="checkbox" id="coding" class="event-list" name="cd">
        <label for="coding">CODING</label>
      </div>

      <div class="question">
        <input type="checkbox" id="iq" class="event-list" name="iq">
        <label for="iq">IT QUIZ</label>
      </div>

      <div class="question">
        <input type="checkbox" id="im" class="event-list" name="im">
        <label for="im">IT MANAGER</label>
      </div>

      <div class="question">
        <input type="checkbox" id="th" class="event-list" name="th">
        <label for="th">TREASURE HUNT</label>
      </div>
    </div><br>

    <div class="box">
      <h3 class="eventHeadings">GAMING EVENTS</h3>

      <div class="question">
        <input type="checkbox" class="event-list" id="bgmi" name="bgmi">
        <label for="bgmi">BGMI</label>
      </div>

      <div class="question">
        <input type="checkbox" id="ag" class="event-list" name="ag">
        <label for="ag">AMONG US</label>
      </div>

      <div class="question">
        <input type="checkbox" id="nfs" class="event-list" name="nfs">
        <label for="nfs">NEED FOR SPEED</label>
      </div>

      <div class="question">
        <input type="checkbox" id="rc" class="event-list" name="rc">
        <label for="rc">REVERSE CHARADES</label>
      </div>
    </div><br>

    <div class="box">
      <h3 class="eventHeadings">CULTURAL EVENTS</h3>

      <div class="question">
        <input type="checkbox" id="gd" class="event-list" name="gd">
        <label for="gd">GROUP DANCE</label>
      </div>

      <div class="question">
        <input type="checkbox" id="fs" class="event-list" name="fs">
        <label for="fs">FASHION SHOW</label>
      </div>
    </div><br>

  </div>
  <button>Register</button>
</body>
</html>
