<!DOCTYPE html>
<html lang = "en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>    
    <link rel = "stylesheet" href = "register.css" >
    </head>
    <body>
      <video autoplay muted loop id="video-bg">
        <source src = "FormVideo.mp4" type = "video/mp4">
        Error</video>

        <div class="container">
            <div class="event-logo"></div>
            <div class="event-title">KAIROS</div>
            <div class="inputs">
              <label>NAME</label>
              <input type="text" id = "name" placeholder = "Name" />
              <label>PHONE</label>
              <input type="tel" id = "phone" placeholder = "Phone" />
              <label>COLLEGE</label>
              <input type="text" id = "college" placeholder = "College" /><br>
              <button style="background-color: blue;" type="submit">Next</button>
            </div>
          </div>
    </body>
</html>